<div *ngIf="bookShelf.length > 0">
  <div *ngFor="let book of bookShelf">
    <mat-card>
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>Autor: {{book.author}}</mat-card-subtitle>
      <mat-card-subtitle>Número de páginas: {{book.pages}}</mat-card-subtitle>
      <div class="buttonsCard">
        <button  mat-raised-button >EDITAR</button>
        <button  mat-raised-button (click)="onDeleteBook(book.id)">REMOVER</button>
      </div>
    </mat-card>
  </div>
</div>
<p *ngIf="bookShelf.length <= 0">
  Não há Livros cadastrados
</p>

